body {
  font-family: Orbitron, sans-serif;
  text-align: center;
}

table {
  font-size: 50px/50px;
  border-collapse: collapse;
  margin: 150px, 0px, 0px, 0px;
  outline: black;
  margin: 0 auto;
}

td {
  height: 200px;
  width: 200px;
  padding: 5px 5px 0;
  border: 2px solid #989898;
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
}

button{
  padding: 20px;
  font-size: 40px;
  margin-top: 20px;
}

